/* Général */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
}

/* Card */
.card {
    border-radius: 20px;
    padding: 20px;
    background: #fdfdfd;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    position: relative;
}

/* Titre */
.card::before {
    content: "NX-302 : Calculator";
    display: block;
    text-align: center;
    font-size: 2rem;  
    font-weight: 800;         
    margin-bottom: 20px;
    color: #ff6f61;         
    letter-spacing: 2px;  
    text-shadow: 2px 2px 5px rgba(0,0,0,0.15);
    font-family: 'Orbitron', sans-serif;
}


/* Écran */
#display {
    border-radius: 12px;
    font-size: 1.5rem;
    padding: 15px;
    background: #f5f5f5;
    color: #111;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
}

/* Boutons */
.btn {
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all 0.2s ease;
    height: 60px;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Couleurs spéciales pr chaque btn*/
.btn-secondary {
    background: #e0e0e0;
    color: #333;
}

.btn-warning {
    background: #ffb74d;
    color: #fff;
}

.btn-success {
    background: #4caf50;
    color: #fff;
}

.btn-danger {
    background: #f44336;
    color: #fff;
}

.btn-info {
    background: #29b6f6;
    color: #fff;
}

/* Responsive */
@media (max-width: 400px) {
    .card {
        width: 90%;
    }
    #display {
        font-size: 1.3rem;
        padding: 12px;
    }
    .btn {
        font-size: 1rem;
        height: 50px;
    }
}
